<div class="requests">
  <h1 class="text-center my-4">My Requests</h1>
  <div class="frame ml-3">
    <div class="container">
      <%current_user.gyms.each do |gym|%>
        <div class="row justify-content-center">
          <div class="col-lg-8 mb-4">
            <div class="card mb-4">
              <div class="card-body">
                <h2 class="card-title">Gym requests for: <%= gym.title%></h2>
                <p>Gym address: <%= gym.address%></p>
                <p>Price per hour: <%= gym.priceph%></p>

                <% gym.bookings.each do |booking|%>
                  <div class="row">
                    <div class="col-4">
                      <p>Client name: <%= booking.user.name %></p>
                    </div>
                    <div class="col-4">
                      <p>Client email: <%= booking.user.email%></p>
                    </div>
                    <div class="col-4">
                      <p>Booking price: <%= booking.price%> fr</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <p>Training date: <%= booking.start_at%></p>
                    </div>
                    <div class="col-4">
                      <%status = booking.status.gsub('_', ' ')%>
                      <p>Training duration: <%= booking.duration%> hours</p>
                    </div>
                    <div class="col-4">
                      <p>Status: <%= status%></p>
                    </div>
                  </div>
                  <div class="row align-items-center mb-4">
                    <div class="col-4">
                      <%= button_to "confirm", confirm_booking_path(booking), method: :put, class: "btn btn-primary", data: { controller: "disable-button", action: "click->disable-button#disable" }%>
                    </div>
                    <div class="col-4">
                      <%= button_to "delete", booking_path(booking), method: :delete, class: "btn btn-primary", data: { action: "click->disable-button#disable" }%>
                    </div>
                    <div class="col-4">
                      <%= button_to "training ended", training_ended_booking_path(booking), method: :put, class: "btn btn-primary", data: { action: "click->disable-button#disable" }%>
                    </div>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
