<p style="color: green"><%= notice %></p>

<%= render @gym %>

<h1><%= current_user.owner%></h1>

<div>
<%if current_user.owner == true%>
  <%= link_to "Edit this gym", edit_gym_path(@gym) %>
  <%= button_to "Destroy this gym", @gym, method: :delete %>
<%end%>
</div>
